body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    font-family: "Inter", system-ui;
}


button{
    font-family: "Inter", system-ui;
    border: none;
}

#img1{
    width: 100%;
}


.redBtn{
    cursor: pointer;
    background-color: #FF6064;
    color: white;
    border-radius: 1.5rem;
    height: 3rem;
    width: 100%;
    font-size: large;
}

.redBtn:hover{
    box-shadow: 3px 3px black;
}

.btn{
    background-color: #D9D9D9;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 4px;
}

#btn1{
    background-color: #FF6064;
    height: 15px;
    width: 45px;
    border-radius: 1.5rem;
    margin-bottom: 40px;
}

div{
    margin: 5%;
}

/* Mobile */
@media (max-width: 376px){

    p{
        font-weight: bold;
        font-size: 35px;
    }

}