body{
    display: flex;
    background-color: #FF6064;
    justify-content: center;
}

.container{
    display: flex;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px black;
    flex-wrap: wrap;
}

button:hover{
    cursor: pointer;
}

img{
    width: 150px;
}

form{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.btnsDiv{
    align-items: center;
}

button, input{
    border-radius: 1.5rem;
    
}

#createAcc{
    background-color: #FF6064;
    color: white;
}