body{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

a{
    color: #FF6064;
}

img{
    width: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}


.btnsDiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
}

.btn{
    border-radius: 1.5rem;
    margin: 4%;
}

.mainBtn{
    border: none;
    background-color: #FF6064;
    color: white;
    border-radius: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

button:hover{
    cursor: pointer;
}

.mainBtn:hover{
    box-shadow: 10px 10px 15px;
}

.goBackBtn{
    height: 100%;
    background-color: aquamarine;
}

.btn:hover{
    background-color: #DDDDDD;
}
/* Mobile */
@media(min-width: 375px){
}